/* 
.navbar{
    border-bottom: 1px solid #e5e5e5;
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.navbar li{
    list-style: none;
    margin: 0 1rem;
}
.navbar-container{
    margin: 0;
} */
